<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>个人用户管理中心</title>
    <link href="../static/css/person.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/person2.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="yun_user_member_top user_bg">
    <div class="yun_user_member_w1100">
        <div class="top_left fltL"></div>
        <div class="header_seach_State fltR">
            <a href="/index" target="_blank" title='返回网站首页' class="user_m_fanh">返回网站首页</a>
        </div>
    </div>
</div>
<div class="header">
    <div class="yun_user_member_w1100">
        <div class="yun_m_logo  fltL" >
            <a href="/index" target="_blank" title='返回网站首页'>
                <img alt="" src="../static/pictures/logo.png" >
            </a>
        </div>
        <ul class="yun_user_member_nav">
            <li class="yun_user_member_nav_cur"><a href="">个人中心</a></li>
        </ul>
        <div class="">
            <div class="header_m_navright">

                </div>
            </div>

            <!-- 消息-->

            </div>
        </div>
    </div>
<div class="clear"></div>
<div class="clear"></div>

<div id="bg" ></div>
<div class="yun_w1200">
    <div class="yun_m_leftsidebar">
        <div class="yun_m_leftsidebar_box">
            <div class="yun_m_leftsidebar_tit">
                <span class="all_word">个人中心 </span>
                <span class="all_cirle"></span>
            </div>
            <div></div>
            <div class="left_sidebar_box" style="display:block">

                <ul class="yun_m_leftsidebar_list">
                    <!--<li><a href=""><i class="left_navicon left_navicon_i1"></i><span></span><b></b></a></li>-->
                    <li><a href="/person/info"><i class="left_navicon left_navicon_i2"></i><span>基本信息</span><b></b></a></li>
                    <!--<li><a href=""><i class="left_navicon left_navicon_i9"></i><span style="color:red;"></span><b></b></a></li>-->
                    <li><a href=""><i class="left_navicon left_navicon_i3"></i><span>我的兼职</span><b></b></a></li>
                    <li><a href=""><i class="left_navicon left_navicon_i4"></i><span>隐私设置</span><b></b></a></li>
                    <li class="borend"><a href=""><i class="left_navicon left_navicon_i25"></i><span>账户绑定</span><b></b></a></li>
                </ul>
            </div>

        </div>
        <div class="left_wx_box">

        </div>


    </div>


    <div class="index_no_resume_box" id="yingdao" style="display:none;">
    </div>



    <div class="yun_m_rightsidebar">
        <div class="yun_m_indexinfo">

            <div class="yun_m_indexinfo_cont">

                <div class="yun_m_indexinfo_photo">
                    <a href="">
                        <img src="../static/pictures/bg.jpg" border="0" height="80" width="80" /> 					</a>
                </div>

                <div class="yun_m_indexinfo_user">
                    <div class="yun_m_indexinfo_user_p">
                        <span class="yun_m_indexinfo_user_hi">你好..</span>
                    </div>

                    <div class="yun_m_indexinfo_user_bding">

                        <div class="yun_m_indexinfo_user_bding_p">
                            <a href="">								<span class="yun_user_rz_box yun_user_rz_sj"><i class="yun_user_rz_no_icon"></i><em class="yun_user_rz_no">手机未验证</em></span> 							</a>
                        </div>

                        <div class="yun_m_indexinfo_user_bding_p">
                            <a href="">								<span class="yun_user_rz_box yun_user_rz_yx"><i class="yun_user_rz_no_icon"></i><em class="yun_user_rz_no">邮箱未绑定</em></span> 							</a>
                        </div>
                        <div class="yun_m_indexinfo_user_bding_p">
                            <a href="">								<span class="yun_user_rz_box yun_user_rz_sf"><i class="yun_user_rz_no_icon"></i><em class="yun_user_rz_no">身份未验证</em></span> 							</a>
                        </div>

                    </div>
                    <div class="yun_m_indexinfo_user_xg">
                        <a href="" class="yun_m_indexinfo_user_xg_a">修改个人信息></a>
                    </div>

                </div>

                <div class="yun_m_index_pay">
                </div>

            </div>
        </div>
        <div class="yun_m_index_data" style="display:none;">
            <div class="yun_m_index_data_list">
                <a href=""><i class="yun_m_index_data_icon yun_m_index_data_icon_ms"></i>
                    <div class="yun_m_index_data_list_n"><i class="member_Information_amount_n_c">0</i></div>
                    <div class="yun_m_index_data_list_p">面试通知</div>
                </a>
            </div>

            <div class="yun_m_index_data_list">
                <a href=""><i class="yun_m_index_data_icon yun_m_index_data_icon_sq"></i>
                    <div class="yun_m_index_data_list_n">0</div>
                    <div class="yun_m_index_data_list_p">申请记录</div>
                </a>
            </div>

            <div class="yun_m_index_data_list">
                <a href=""><i class="yun_m_index_data_icon yun_m_index_data_icon_sc"></i>
                    <div class="yun_m_index_data_list_n">0</div>
                    <div class="yun_m_index_data_list_p">收藏记录</div>
                </a>
            </div>
            <div class="yun_m_index_data_list yun_m_index_data_list_end">
                <a href=""><i class="yun_m_index_data_icon yun_m_index_data_icon_look"></i>
                    <div class="yun_m_index_data_list_n">0</div>
                    <div class="yun_m_index_data_list_p">谁看了我的简历</div>
                </a>
            </div>
        </div>
        <div class="yun_m_index_date_box">
            <div class="yun_user_index_jobmsg_gz  sxl">
                <ul class="user_in_gz sxlist">
                </ul>
            </div>
            <div class="yun_m_index_date_box_tit"> 求职管理</div>
            <div class="yun_m_index_date_list">
                <div class="yun_m_index_datename">面试通知</div>
                <a href="">
                    <div class="yun_m_index_date_n"> 0</div>
                </a>
            </div>
            <div class="yun_m_index_date_list">
                <div class="yun_m_index_datename">申请记录</div>
                <a href="">
                    <div class="yun_m_index_date_n"> 0</div>
                </a>
            </div>

            <div class="yun_m_index_date_list">
                <div class="yun_m_index_datename">收藏记录</div>
                <a href="">
                    <div class="yun_m_index_date_n"> 0</div>
                </a>
            </div>

            <div class="yun_m_index_date_list yun_m_index_date_list_end">
                <div class="yun_m_index_datename">谁看了我的简历</div>
                <a href="">
                    <div class="yun_m_index_date_n"> 0</div>
                </a>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
</div>


<div class="clear"></div>
<div class="hp_foot_bt">
    <div class="hp_foot_bt_c" align="center">
        <p>Copyright ? 2018-2019 青芒兼职招聘网 ，龙岩市青芒科技有限公司  版权所有 <i class="hp_foot_bt_cr"><a href='http://beian.miit.gov.cn' target='_blank'> 闽ICP备19986794号-1</a></i></p>
        <p>地址：龙岩市新罗区商务板块龙工大厦A119</p>

    </div> </div>
</body>
</html>