
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>注册页面</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
     <link rel="stylesheet" href="../static/css/register1.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/register2.css" type="text/css" />
</head>

<body class="register_bg" >
<div class="register_header">
    <div class="reg_w980">
        <div class="reg_logo">
        </div>
        <div class="reg_msg">求职者注册</div>
        <a href="/index" class="reg_fh yun_text_color fr">返回首页</a>
    </div>
</div>
<div class="alert alert-success" role="alert" th:if="${msg2}!=null" th:text="${msg2}" align="center"></div>

<form action="/register/user" method="get">

<div class="reg_content">
    <div class="logoin_cont fl">
        <div class="register_left">

            <div class="reg_newtit_box">
                <ul class="reg_newtit">

                    <li class="reg_newtit_cur">
                        <a class="reg_h1_icon" ><i class="reg_newtit_icon"></i>用户名注册</a>
                    </li>
                </ul>
            </div>
            <div class="register_Switching_box" id="regtype1">
                <ul class="register_list">

                    <li class="mt30"><em><font color="#FF0000">*</font> 用户名：</em>
                        <input type="text"  id="username1" name="username" class="logoin_text tips_class"  placeholder="请输入用户名作为账号" />
                    </li>

                    <li class="mt30"><em><font color="#FF0000">*</font> 真实姓名：</em>
                        <input type="text"  id="realname" name="username" class="logoin_text tips_class"  placeholder="请输入真实姓名" />
                    </li>
                    <li class="mt30"><em><font color="#FF0000">*</font> 密&nbsp;&nbsp;码：</em>
                        <span id="pass1"><input type="password"  id="password" name="userpassword" class="logoin_text tips_class" value="" placeholder="请输入6-20位（字母、数字、符号）"/></span>
                        <span class="reg_tips reg_tips_red none" id="ajax_password"></span>
                    </li>
                    <li class="reg_re"><em>&nbsp;</em>
                        <div class="kg_lgn_psw_strong">
                            <div class="kg_lgn_psw_txt">密码强度:</div>
                            <div class="kg_lgn_psw_strong_cnt">
                                <span id="pass1_1" class="psw_span">危险</span>
                                <span id="pass2_1" class="psw_span ">一般</span>
                                <span id="pass3_1" class="psw_span ">安全</span>
                            </div>
                            <div class="psw_xs" onmousemove="showtip(1)" onmouseout="hidetip(1)">
                                <a href="javascript:void(0);" onclick="showpw(1);" id="showpw1" class="psw_xs_a">显示密码</a>
                                <i class="psw_xs_icon"></i>
                                <div class="psw_xs_tips none" id="tip1">你可以点击这里检查已填写的密码</div>
                            </div>
                        </div>
                    </li>
                    <li class="mt30"><em><font color="#FF0000">*</font> 性别：</em>
                        <input type="text"   name="usersex" class="logoin_text tips_class"  placeholder="请输入性别" />
                    </li>
                    <li class="mt30"><em><font color="#FF0000">*</font> 年龄：</em>
                        <input type="text"   name="userage" class="logoin_text tips_class"  placeholder="请输入年龄" />
                    </li>
                    <li class="mt30"><em><font color="#FF0000">*</font> 工作经验</em>
                        <input type="text"   name="userexperience" class="logoin_text tips_class"  placeholder="请输入工作经验" />
                    </li>
                    <li class="mt30"><em><font color="#FF0000">*</font> 手机号码</em>
                        <input type="text"   name="usernumber" class="logoin_text tips_class"  placeholder="请输入手机号码" />
                    </li>
                    <li class="mt20"><em><font color="#FF0000">*</font> 确认密码：</em>
                        <span id="pass1"><input type="password" id="passconfirm" onblur="reg_checkAjax('passconfirm');" class="logoin_text tips_class" value=""placeholder="请确认您输入的密码"/></span>
                        <span class="reg_tips reg_tips_red none" id="ajax_passconfirm"></span>
                    </li>

                    <li class="mt30"><em>&nbsp;</em><input  class="register_submit" type="submit" id="subreg"  value="立即注册"/></li>
                    <li class="m10">
                        <em>&nbsp;</em>
                        <div class="reg_xy">
                            <input type="checkbox" id="xieyi1" class="logoin_check none" value="1" checked="checked" />
                        </div>
                    </li>
                </ul>
            </div>

            <input type="hidden" id="default" value="-1" />
            <input type="hidden" id="def" value="" />
            <input type="hidden" id="event" value="" />
            <input type="hidden" id="allnum" value="0" />
            <input type="hidden" id="send" value="0" />
            <input type="hidden" id="usertype" value="1" />
            <input type="hidden" id="defEmail" value="@qq.com|@163.com|@126.com|@gmail.com|@hotmail.com|@sina.com|@sina.com.cn|@sina.cn|@sohu.com|@139.com|@yahoo.com|@aliyun.com|" />
        </div>
        <div class="register_right">
            <span class="register_right_or">or</span>
            <div class="register_right_reg">
            </div>
            <div class="register_right_c">

                已有账号
                <div class="">
                    <a href="">直接登录></a>
                </div>
            </div>
        </div>
    </div>
</div>
    </form>
<div class="clear"></div>

<div class="clear"></div>

<div class="clear"></div>
<div class="hp_foot_bt">
    <div class="hp_foot_bt_c" align="center">
        <p>Copyright ? 2018-2019 青芒兼职招聘网 ，龙岩市青芒科技有限公司  版权所有 <i class="hp_foot_bt_cr"><a href='http://beian.miit.gov.cn' target='_blank'> 闽ICP备19986794号-1</a></i></p>
        <p>地址：龙岩市新罗区商务板块龙工大厦A119</p>

    </div> </div>



</body>
</html>